{% load i18n %}
<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><span>Szeol CRM</span></a>
    </div>

    <div class="clearfix"></div>

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          {% for top in menu %}
            <li{% if top.is_active %} class="active"{% endif %}><a><i class="fa {{top.icon}}"></i>{{top.name}}<span class="fa fa-chevron-down"></span></a>
              {% if top.elements %}
                <ul class="nav child_menu"{% if top.is_active %} style="display: block;"{% endif %}>
                  {% for down in top.elements %}
                    <li{% if down.is_active %} class="current-page"{% endif %}><a href="{{ down.url }}">{{ down.name }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
