{% extends "forms/base.html" %}

{% block body %}
  <label
    class="control-label col-md-3 col-sm-3 col-xs-12"
    for="{{field.id_for_label}}">
        {{field.help_text}} {% if field.field.required %}<span class="required">*</span>{% endif %}
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input
        id="{{field.id_for_label}}"
        {% if field.field.required %}required="required"{% endif %}
        class="form-control col-md-7 col-xs-12"
        type="text"
        name="{{field.name}}"
        v-model="form.fields.{{field.name}}.value">
  </div>
{% endblock %}
