{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block maincontent %}
    <!-- page content -->
    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-user"></i> {% trans "Total Clients" %}</span>
          <div class="count">{{ statistics.contacts }}</div>
          <span class="count_bottom"><i class="green">{{ statistics.contacts_created }} </i> {% trans "From last Week" %}</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-user"></i> {% trans "Total Products" %}</span>
          <div class="count">{{ statistics.products }}</div>
          <span class="count_bottom"><i class="green">{{ statistics.products_created }} </i> {% trans "From last Week" %}</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-user"></i> {% trans "Orders" %}</span>
          <div class="count">{{ statistics.orders }}</div>
          <span class="count_bottom"><i class="green">{{ statistics.orders_created }} </i> {% trans "From last Week" %}</span>
        </div>
      </div>
      <!-- /top tiles -->
    </div>
    <!-- /page content -->
    <script type="text/javascript" src="/static/dist/bundle.js"></script>
{% endblock %}
