{% extends "main/base.jinja2" %}
{% load static %}
{% block maincontent %}
    <!-- page content -->
    <div class="right_col" role="main">
      <!-- top tiles -->
      <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-user"></i> Klientów</span>
          <div class="count">0</div>
          <span class="count_bottom"><i class="green">0 </i> Nowych w ostatnim tygodniu</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-user"></i> Produktów</span>
          <div class="count">0</div>
          <span class="count_bottom"><i class="green">0 </i> Nowych w ostatnim tygodniu</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
          <span class="count_top"><i class="fa fa-user"></i> Zamówień</span>
          <div class="count">0</div>
          <span class="count_bottom"><i class="green">0 </i> Nowych w ostatnim tygodniu</span>
        </div>
      </div>
      <!-- /top tiles -->

    </div>
    <!-- /page content -->
{% endblock %}
