{% extends "main/base.html" %}
{% load static %}
{% load i18n %}
{% block maincontent %}
  <div class="right_col" role="main" style="min-height: 1172px;">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>{% trans "Products" %}</h3>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">

              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th><input type="checkbox" /></th>
                      <th class="column-title">{% trans "Name" %}</th>
                      <th class="column-title">{% trans "Year" %}</th>
                      <th class="column-title">{% trans "Color" %}</th>
                      <th class="column-title">{% trans "Taste" %}</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for product in products %}
                      <tr class="even pointer">
                        <td><input type="checkbox" /></td>
                        <td class=" ">{{ product.name }}</td>
                        <td class=" ">{{ product.year }}</td>
                        <td class=" ">{{ product.color_name }}</td>
                        <td class=" ">{{ product.taste_name }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
